<template>
    <b-card no-body class="card--detail">
        <b-card-header header-tag="header" role="tab">
            <b-button block v-b-toggle.accordion-1 variant="info">Card details</b-button>
        </b-card-header>
        <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">
            <b-card-body>
                <b-card-text class="p-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, ut.</b-card-text>
            </b-card-body>
        </b-collapse>
    </b-card>
</template>