<template>
    <div class="action-list d-flex justify-content-between">
        <div class="action-item">
            <span class="action-item__icon action-item__icon--freeze"></span>
            <span class="action-item__text">Freeze card</span>
        </div>
        <div class="action-item">
            <span class="action-item__icon action-item__icon--spend"></span>
            <span class="action-item__text">Set spend limit</span>
        </div>
        <div class="action-item">
            <span class="action-item__icon action-item__icon--gpay"></span>
            <span class="action-item__text">Add to GPay</span>
        </div>
        <div class="action-item">
            <span class="action-item__icon action-item__icon--replace"></span>
            <span class="action-item__text">Replace card</span>
        </div>
        <div class="action-item">
            <span class="action-item__icon action-item__icon--deactivate"></span>
            <span class="action-item__text">Cancel card</span>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .action-list {
        background: #EDF3FF;
        border-radius: 16px 16px 0 0;
        box-shadow: 0 -6px 8px -6px rgba($color: #000000, $alpha: .5);
        padding: 20px 24px;
        margin-top: 48px;
        .action-item {
            text-align: center;
            &__icon {
                display: inline-block;
                width: 32px;
                height: 32px;
                margin-bottom: 6px;
                &--freeze {
                    background: url('../../assets/images/freeze.svg');
                }
                &--spend {
                    background: url('../../assets/images/spend.svg');
                }
                &--gpay {
                    background: url('../../assets/images/gpay.svg');
                }
                &--replace {
                    background: url('../../assets/images/replace.svg');
                }
                &--deactivate {
                    background: url('../../assets/images/deactivate.svg');
                }
            }
            &__text {
                display: block;
                font-size: 13px;
                line-height: 14px;
                color: #0C365A;
            }
        }
        @media screen and (min-width: 1200px) {
            margin-top: 56px;
            border-radius: 16px;
            box-shadow: none;
        }
    }
</style>