<template>
    <div class="loan-history" :class="{'is-loading': loading}">
        <ul class="transaction-list list-group" v-if="loans.length">
            <li 
                v-for="loan in loans"
                :key="loan.id"
                class="transaction-item list-group-item" :class="`transaction-item--${loan.state}`"
            >
                <span class="transaction-item__icon"></span>
                <div class="d-flex justify-content-between">
                    <span class="transaction-item__name">Total debt: ${{ loan.amount }}</span>
                    <b-button variant="primary" v-if="loan.state === 'approved'" @click="openModalRepay(loan)">Repay</b-button>
                    <b-button variant="danger" v-if="loan.state === 'processing'" @click="cancelLoan(loan.id)">Cancel</b-button>
                </div>
                <p class="transaction-item__text">Amount of debt paid: {{ loan.amountDebtPaid }}</p>
                <p class="transaction-item__text">End Date: {{ loan.endDate | dateTime }}</p>
                <p class="transaction-item__text">State: {{ loan.state }}</p>
            </li>
        </ul>
        <p v-else class="text-center">No data</p>
        <CardFormRepay :loan="currentLoan" />
    </div>
</template>
<script>
import * as loanTypes from '../../store/modules/loan/mutation-types';
import CardFormRepay from './CardFormRepay.vue'
export default {
    props: {
        loans: Array,
        loading: Boolean
    },
    data() {
        return {
            currentLoan: null
        }
    },
    components: {
        CardFormRepay
    },
    mounted() {
    },
    methods: {
        openModalRepay(loan) {
            this.currentLoan = loan;
            this.$bvModal.show('card-form-repay')
        },
        cancelLoan(id) {
            this.$store.dispatch('loan/remove', id).then(() => {
                this.$notify({ type: 'success', text: 'The cancel completed' })
                this.$store.dispatch('loan/get')
            }).catch(() => {
                this.$notify({ type: 'error', text: 'The cancel failed' })
            }).then(() => {
                this.$store.commit(`loan/${loanTypes.STATUS_LOADING}`, false)
            })
        }
    }
}
</script>
<style lang="scss" scoped>
    .loan-history {
        position: relative;
    }
    .transaction-list {
        padding: 8px24px;
        .transaction-item {
            padding: 16px 0 16px 60px;
            border: none;
            border-top: 1px solid #F5F9FF;
            position: relative;

            &:first-child {
                border-top: none;
            }

            &--processing {
                .transaction-item__icon {
                    background: #009DFF1A url('../../assets/images/storage.svg') center center no-repeat;
                }
                .transaction-item__price {
                    color: #01D167;
                }
            }

            &--approved {
                .transaction-item__icon {
                    background: #00D6B51A url('../../assets/images/flights.svg') center center no-repeat;
                }
            }

            &--repaid {
                .transaction-item__icon {
                    background: #F251951A url('../../assets/images/megaphone.svg') center center no-repeat;
                }
            }

            &__icon {
                position: absolute;
                left: 0;
                top: 16px;
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }

            &__name {
                font-size: 14px;
                line-height: 18px;
                font-weight: 600;
                margin-bottom: 4px;
            }

            &__price {
                font-size: 14px;
                font-weight: bold;
                color: #222;
            }

            &__text {
                font-size: 13px;
                line-height: 18px;
                color: #AAAAAA;
                margin-bottom: 14px;
            }
        }
    }
</style>