<template>
    <div class="card-list">
        <VueSlickCarousel v-bind="settingsCarousel">
            <div v-for="(card, index) in cards" :key="index" class="card-item" :class="card.type">
                <div class="card-item-inner">
                    <div class="card-item__logo d-flex justify-content-end">
                        <img src="../../assets/images/white-logo.svg" alt="">
                    </div>
                    <span class="card-item__name">{{ card.name }}</span>
                    <div class="card-item__number">
                        <div v-for="(number, index) in card.number" :key="index" class="card-item__number-group">
                            <div v-if="!card.isShowNumber && index < 3" class="dots">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                            <span v-else>{{ number }}</span>
                        </div>
                    </div>
                    <div class="card-item__info d-flex">
                        <div class="card-item__date">Thru: {{ card.date }}</div>
                        <div class="card-item__cvv">CVV: <span>***</span></div>
                    </div>
                    <div class="card-item__type d-flex justify-content-end">
                        <img src="../../assets/images/visa.svg" alt="">
                    </div>
                    <span class="card-item__show-card-number" @click="showNumber(index)">Show card number</span>
                </div>
            </div>
        </VueSlickCarousel>
    </div>
</template>
<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
    components: {
        VueSlickCarousel
    },
    data() {
        return {
            settingsCarousel: {
                centerMode: true,
                dots: true,
                slidesToShow: 1,
                infinite: false,
                centerPadding: "0",
                responsive: [
                    {
                        "breakpoint": 1199,
                        "settings": {
                            "centerPadding": '32px'
                        }
                    }
                ]
            },
            cards: [
                {
                    name: 'Mark Henry',
                    number: [1234, 1234, 1234, 2020],
                    date: '12/20',
                    type: 'type-1',
                    isShowNumber: false
                },
                {
                    name: 'Mark Henry',
                    number: [1234, 1234, 1234, 2020],
                    date: '12/20',
                    type: 'type-2',
                    isShowNumber: false
                },
                {
                    name: 'Mark Henry',
                    number: [1234, 1234, 1234, 2020],
                    date: '12/20',
                    type: 'type-3',
                    isShowNumber: false
                }
            ]
        }
    },
    methods: {
        showNumber(index) {
            this.cards[index].isShowNumber = !this.cards[index].isShowNumber
        }
    }
}
</script>

<style lang="scss" scoped>
    .card-list {
        margin-top: -32px;
    }

    .card-item {
        padding: 32px 0 0;
        transform: scale(.9);
        transition: all .3s;
        &.type-1 {
            .card-item-inner {
                background: #01D167;
            }
        }
        &-inner {
            color: #fff;
            border-radius: 12px;
            padding: 24px;
            background: rgba($color: #536DFF, $alpha: .5);
            position: relative;
        }

        &__logo {
            margin-bottom: 24px;
        }

        &__name {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 24px;
            display: block;
            letter-spacing: 0.53px;
        }

        &__number {
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            &-group {
                font-size: 14px;
                line-height: 20px;
                font-weight: bold;
                margin-left: 24px;
                letter-spacing: 3.46px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }

        &__info {
            margin-bottom: 4px;
        }

        &__date, &__cvv {
            font-size: 13px;
            font-weight: bold;
        }

        &__date {
            margin-right: 30px;
            letter-spacing: 1.56px;
        }

        &__cvv {
            letter-spacing: 0.31px;
            display: flex;
            align-items: flex-end;
            span {
                letter-spacing: 2.88px;
                font-size: 24px;
                line-height: 15px;
                margin-left: 4px;
            }
        }
        &__show-card-number {
            color: #01D167;
            font-size: 12px;
            font-weight: 600;
            padding: 5px 10px 18px 32px;
            background: #fff url('../../assets/images/eye.svg') 10px 6px no-repeat;
            border-radius: 6px 6px 0 0;
            position: absolute;
            right: 0;
            top: -32px;
            z-index: -1;
            cursor: pointer;
        }

        @media screen and (min-width: 1200px) {
            .card-item {
                &-inner {
                    padding: 27px;
                }
                &__logo {
                    margin-bottom: 27px;
                }
                &__name {
                    font-size: 24px;
                    margin-bottom: 27px;
                }
                &__number {
                    margin-bottom: 17px;
                }
                &__show-card-number {
                    font-weight: bold;
                }
            }
        }
    }

    .dots {
        display: flex;
        .dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #fff;
            margin-left: 6px;
            &:first-child {
                margin-left: 0;
            }
            @media screen and (min-width: 1200px) {
                width: 9px;
                height: 9px;
            }
        }
    }
</style>
