<template>
    <b-form @submit="onSubmit" :class="{'is-loading': loading}">
        <b-form-group
            id="input-group-1"
            label="I want to borrow:"
            label-for="input-1"
        >
            <b-input-group prepend="$" class="mb-2 mr-sm-2 mb-sm-0">
                <b-form-input 
                    id="input-1"
                    v-model="form.amount"
                    type="number"
                    min="1"
                    step="1"
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                    @input="handlerInputAmount"
                    required
                >
                </b-form-input>
            </b-input-group>
        </b-form-group>

        <div class="row">
            <div class="col-6">
                <b-form-group id="input-group-3" label="Period:" label-for="input-3">
                    <b-form-select
                        id="input-3"
                        v-model="form.period"
                        :options="periods"
                        required
                    >
                    </b-form-select>
                </b-form-group>
            </div>
            <div class="col-6">
                <b-form-group
                    id="input-group-6"
                    label="Interest rate:"
                    label-for="input-6"
                >
                    <b-input-group append="%" class="mb-2 mr-sm-2 mb-sm-0">
                        <b-form-input 
                            id="input-6"
                            v-model="form.rate"
                            type="number"
                            readonly
                        >
                        </b-form-input>
                    </b-input-group>
                </b-form-group>
            </div>
        </div>

        <b-form-group id="input-group-5" label="Repayment frequency:" label-for="input-5">
            <b-form-select
                id="input-5"
                v-model="form.repaymentFrequency"
                :options="repaymentFrequencys"
                required
            >
            </b-form-select>
        </b-form-group>
        <b-form-group id="input-group-7">
            <b-form-checkbox
                id="checkbox-1"
                v-model="form.checked"
                name="checkbox-1"
                value="checked"
                unchecked-value="unchecked"
            >
                I accept the terms and use
            </b-form-checkbox>
        </b-form-group>

        <b-button type="submit" variant="primary" :disabled="isFormValid">Submit</b-button>
    </b-form>
</template>
<script>
import { mapState } from 'vuex';
import * as loanTypes from '../../store/modules/loan/mutation-types';
export default {
    data() {
        return {
            form: {
                amount: null,
                repaymentFrequency: 1,
                period: 24,
                rate: 8,
                checked: 'unchecked'
            },
            periods: [
                { value: 6, text: '6 months' },
                { value: 12, text: '1 year' },
                { value: 24, text: '2 years' },
                { value: 36, text: '3 years' }
            ],
            repaymentFrequencys: [
                { value: 1, text: 'monthly' },
                { value: 6, text: '6 months' },
                { value: 12, text: 'yearly' }
            ],
            interestRates: [
                { value: 6, rate: 10 },
                { value: 12, rate: 9 },
                { value: 24, rate: 8 },
                { value: 36, rate: 7 }
            ]
        }
    },
    computed: {
        ...mapState({
            loading: state => state.loan.loading,
            isFormValid () {
                return !this.form.amount || this.form.checked === 'unchecked'
            }
        })
    },
    watch: {
        'form.period'(v) {
            this.form.rate = this.interestRates.filter(rate => rate.value === v)[0].rate
        }
    },
    methods: {
        onSubmit(event) {
            event.preventDefault()
            this.$store.dispatch('loan/post', this.form).then((res) => {
                this.$notify({ type: 'success', text: 'The loan completed' })

                console.log(res.data)
                this.onReset()
            }).catch(() => {
                this.$notify({ type: 'error', text: 'The loan failed' })
            }).then(() => {
                this.$store.commit(`loan/${loanTypes.STATUS_LOADING}`, false)
            })
        },
        onReset() {
            this.form.amount = null
            this.form.repaymentFrequency = 1
            this.form.period = 24
            this.form.rate = 8
            this.form.checked = 'unchecked'
        },
        handlerInputAmount() {
            this.form.amount = Number(this.form.amount)
        }
    }
}
</script>