<template>
    <div class="header">
        <p class="text">Available balance</p>
        <div class="d-flex justify-content-between">
            <div class="currency d-flex align-items-center">
                <span class="currency__label">S$</span>
                <span class="currency__value">3,000</span>
            </div>
            <div class="add-card">
                New card
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped>
    .header {
        padding: 0 24px;
        margin-bottom: 30px;
        .text {
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
            margin-bottom: 16px;
        }
        .currency {
            &__label {
                width: 40px;
                height: 22px;
                border-radius: 4px;
                text-align: center;
                font-size: 12px;
                font-weight: bold;
                line-height: 22px;
                color: #fff;
                background: #01D167;
                margin-right: 10px;
            }
            &__value {
                font-size: 24px;
                line-height: 1;
                color: #222;
                font-weight: bold;
            }
        }

        .add-card {
            display: inline-block;
            font-size: 13px;
            line-height: 24px;
            color: #23CEFD;
            font-weight: bold;
            padding-left: 22px;
            background: url('../../assets/images/green-plus.svg') 0 center no-repeat;
            cursor: pointer;
        }

        @media screen and (min-width: 1200px) {
            padding: 0;
            bottom: 36px;
            .text {
                font-weight: normal;
            }
            .currency {
                &__label {
                    font-size: 13px;
                    height: 24px;
                    line-height: 24px;
                }

                &__value {
                    font-size: 26px;
                }
            }

            .add-card {
                padding: 5px 12px 5px 35px;
                border-radius: 4px;
                background: #325BAF url('../../assets/images/box.svg') 12px center no-repeat;
                color: #fff;
            }
        }
    }
</style>