<template>
    <b-card no-body class="card--transaction">
        <b-card-header header-tag="header" role="tab">
            <b-button block v-b-toggle.accordion-2 variant="info">Recent transactions</b-button>
        </b-card-header>
        <b-collapse id="accordion-2" visible accordion="my-accordion" role="tabpanel">
            <b-card-body>
                <ul class="transaction-list list-group">
                    <li class="transaction-item transaction-item--storage list-group-item">
                        <span class="transaction-item__icon"></span>
                        <div class="d-flex justify-content-between">
                            <span class="transaction-item__name">Hamleys</span>
                            <span class="transaction-item__price">+ S$ 150</span>
                        </div>
                        <p class="transaction-item__date">20 May 2020</p>
                        <p class="transaction-item__content">Charged to debit card</p>
                    </li>
                    <li class="transaction-item transaction-item--flight list-group-item">
                        <span class="transaction-item__icon"></span>
                        <div class="d-flex justify-content-between">
                            <span class="transaction-item__name">Hamleys</span>
                            <span class="transaction-item__price">- S$ 150</span>
                        </div>
                        <p class="transaction-item__date">20 May 2020</p>
                        <p class="transaction-item__content">Charged to debit card</p>
                    </li>
                    <li class="transaction-item transaction-item--phone list-group-item">
                        <span class="transaction-item__icon"></span>
                        <div class="d-flex justify-content-between">
                            <span class="transaction-item__name">Hamleys</span>
                            <span class="transaction-item__price">- S$ 150</span>
                        </div>
                        <p class="transaction-item__date">20 May 2020</p>
                        <p class="transaction-item__content">Charged to debit card</p>
                    </li>
                </ul>
                <b-button variant="secondary" block class="btn-view-all">View all card transactions</b-button>
            </b-card-body>
        </b-collapse>
    </b-card>
</template>

<style lang="scss" scoped>
    .transaction-list {
        margin-left: -1px;
        margin-right: -1px;
        background: #fff;
        border-radius: 0 0 8px 8px;
        padding: 8px 40px 8px 24px;
        border: 1px solid #F0F0F0;
        border-top: none;
        .transaction-item {
            padding: 16px 0 16px 60px;
            border: none;
            border-top: 1px solid #F5F9FF;
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 7px;
                height: 12px;
                background: url('../../assets/images/next.svg') right top no-repeat;
                position: absolute;
                top: 21px;
                right: -16px;
            }

            &:first-child {
                border-top: none;
            }

            &--storage {
                .transaction-item__icon {
                    background: #009DFF1A url('../../assets/images/storage.svg') center center no-repeat;
                }
                .transaction-item__price {
                    color: #01D167;
                }
            }

            &--flight {
                .transaction-item__icon {
                    background: #00D6B51A url('../../assets/images/flights.svg') center center no-repeat;
                }
            }

            &--phone {
                .transaction-item__icon {
                    background: #F251951A url('../../assets/images/megaphone.svg') center center no-repeat;
                }
            }

            &__icon {
                position: absolute;
                left: 0;
                top: 16px;
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }

            &__name {
                font-size: 14px;
                line-height: 18px;
                font-weight: 600;
                margin-bottom: 4px;
            }

            &__price {
                font-size: 14px;
                font-weight: bold;
                color: #222;
            }

            &__date {
                font-size: 13px;
                line-height: 18px;
                color: #AAAAAA;
                margin-bottom: 14px;
            }

            &__content {
                margin-bottom: 0;
                font-size: 12px;
                line-height: 18px;
                font-weight: 600;
                padding-left: 32px;
                position: relative;
                color: #325BAF;
                &::before {
                    content: '';
                    display: block;
                    width: 24px;
                    height: 20px;
                    border-radius: 10px;
                    position: absolute;
                    top: -2px;
                    left: 0;
                    background: #0C365A url('../../assets/images/business-and-finance.svg') center center no-repeat;
                }
            }
        }
    }

    .btn-view-all {
        border-radius: 8px;
        font-size: 13px;
        font-weight: bold;
        line-height: 18px;
        padding: 16px;
        margin: 0 -1px -1px;
        background: transparent;
        border: 1px solid #DDFFEC;
        color: #01D167;
        &:not(:disabled):active {
            background: transparent;
            border: 1px solid #DDFFEC;
            color: #01D167;
            &:focus {
                box-shadow: none;
            }
        }
        &:focus {
            box-shadow: none;
        }
        @media screen and (min-width: 1200px) {
            font-weight: 600;
        }
    }
</style>