<template>
    <b-modal id="card-form-repay" hide-footer>
        <template #modal-title>
            Repayment
        </template>
        <div class="modal-body" :class="{'is-loading': loading}">
            <b-list-group class="mb-4" v-if="loan">
                <b-list-group-item>total debt: {{ loan.amount }}</b-list-group-item>
                <b-list-group-item>amount of debt paid: {{ loan.amountDebtPaid }}</b-list-group-item>
                <b-list-group-item>remaining debt: {{ loan.amount - loan.amountDebtPaid }} </b-list-group-item>
            </b-list-group>
            <b-form @submit="onSubmit">
                <b-form-group
                    id="input-group-1"
                    label="I want to repay:"
                    label-for="input-1"
                >
                    <b-input-group prepend="$" class="mb-2 mr-sm-2 mb-sm-0">
                        <b-form-input 
                            id="input-1"
                            v-model="form.amount"
                            type="number"
                            min="1"
                            step="1"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                            @input="handlerInputAmount"
                            required
                        >
                        </b-form-input>
                        <b-input-group-append>
                            <b-button variant="primary" @click="handlerRepayMax">Max</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>

                <b-button type="submit" block variant="primary" class="btn-repay" :disabled="isFormValid">Repay</b-button>
            </b-form>
        </div>
    </b-modal>
</template>
<script>
import { mapState } from 'vuex';
import * as loanTypes from '../../store/modules/loan/mutation-types';
export default {
    props: {
        loan: Object
    },
    data() {
        return {
            amount: null,
            form: {
                id: null,
                amount: null
            }
        }
    },
    computed: {
        ...mapState({
            loading: state => state.loan.loading,
            isFormValid () {
                return !this.form.amount
            }
        })
    },
    mounted() {
    },
    watch: {
        loan(value) {
            this.form.id = value.id
        }
    },
    methods: {
        onSubmit(event) {
            event.preventDefault()
            const amountRepay  = this.form.amount + this.loan.amountDebtPaid;
            const state = amountRepay === this.loan.amount ? 'repaid' : 'approved';

            this.$store.dispatch('loan/update', {
                id: this.form.id,
                formData: {
                    amount: amountRepay,
                    state: state
                }
            }).then(() => {
                this.$notify({ type: 'success', text: 'The repay completed' })
                this.$store.dispatch('loan/get')
                this.$bvModal.hide('card-form-repay')
                this.onReset()
            }).catch(() => {
                this.$notify({ type: 'error', text: 'The repay failed' })
            }).then(() => {
                console.log(this.$store)
                this.$store.commit(`loan/${loanTypes.STATUS_LOADING}`, false)
            })
        },
        onReset() {
            this.form.id = null
            this.form.amount = null
        },
        handlerInputAmount() {
            this.form.amount = Number(this.form.amount)
            if (this.form.amount > (this.loan.amount - this.loan.amountDebtPaid)) {
                this.form.amount = this.loan.amount - this.loan.amountDebtPaid
            }
        },
        handlerRepayMax() {
            this.form.amount = this.loan.amount - this.loan.amountDebtPaid
        }
    }
}
</script>
<style lang="scss">
    #card-form-repay {
        .list-group {
            .list-group-item {
                padding-left: 0;
                border: none;
                &:first-child {
                    padding-top: 0;
                }
            }
        }

        .btn-repay {
            border-radius: 8px;
            margin-top: 32px;
            padding: 11px 16px;
        }
    }
</style>