<template>
    <div class="card-page">
        <CardHeader />

        <div class="body">
            <b-tabs>
                <b-tab
                    title="My debit cards"
                    active
                >
                    <div class="d-xl-flex justify-content-xl-between">
                        <div class="wrapper">
                            <CardList />

                            <CardAction />
                        </div>

                        <div
                            class="accordion"
                            role="tablist"
                        >
                            <CardDetail />

                            <CardTransaction />
                        </div>
                    </div>
                </b-tab>
                <b-tab title="Loans">
                    <b-tabs content-class="mt-3">
                        <b-tab
                            title="Borrow"
                            active
                        >
                            <CardFormCreate />
                        </b-tab>
                        <b-tab
                            title="Loan history"
                            @click="getLoans"
                        >
                            <CardLoanHistory
                                :loans="loans"
                                :loading="loading"
                            />
                        </b-tab>
                    </b-tabs>
                </b-tab>
            </b-tabs>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex';

import CardHeader from './CardHeader.vue'
import CardList from './CardList.vue'
import CardAction from './CardAction.vue'
import CardDetail from './CardDetail.vue'
import CardTransaction from './CardTransaction.vue'
import CardFormCreate from './CardFormCreate.vue'
import CardLoanHistory from './CardLoanHistory.vue'

export default {
    components: {
        CardHeader,
        CardList,
        CardAction,
        CardDetail,
        CardTransaction,
        CardFormCreate,
        CardLoanHistory
    },
    data() {
        return {
            
        }
    },
    computed: {
        ...mapState({
            loading: state => state.loan.loading,
            loans: state => state.loan.list
        })
    },
    mounted() {
    },
    methods: {
        getLoans() {
            this.$store.dispatch('loan/get')
        }
    }
}
</script>
<style lang="scss">
    .nav-tabs {
        border-bottom: none;
        padding: 0 24px;
        .nav-item {
            margin-left: 32px;
            &:first-child {
                margin-left: 0;
            }
        }
        .nav-link {
            padding: 0 0 6px;
            font-size: 13px;
            line-height: 18px;
            color: rgba($color: #222, $alpha: .3);
            border: none;
            margin-bottom: 0;
            &.active {
                color: #222;
                font-weight: bold;
                background: none;
                border-bottom: 2px solid #23CEFD;
            }
        }
        @media screen and (min-width: 1200px) {
            padding: 0;
            .nav-link {
                font-size: 14px;
            }
        }
    }
    .card-page {
        .tab-content {
            overflow: hidden;
            padding-top: 50px;
            @media screen and (min-width: 1200px) {
                margin-top: 16px;
                padding: 60px 40px 40px;
                border: 1px solid #FCFCFC;
                box-shadow: 0 2px 12px rgba($color: #000000, $alpha: .08);
                background: #fff;
                border-radius: 8px;
            }
            .tab-content {
                background: #fff;
                padding: 24px;
            }
        }

        .accordion {
            padding: 24px;
            @media screen and (min-width: 1200px) {
                padding: 0;
                width: 366px;
            }
            > .card {
                margin-top: 24px;
                border-radius: 8px;
                border-color: #F0F0F0;

                &:first-child {
                    margin-top: 0;
                }

                &:not(:last-of-type) {
                    border-bottom: 1px solid #F0F0F0;
                }

                >  .card-header {
                    padding: 0;
                    margin-bottom: 0;
                    border-bottom: none;
                }

                &--detail {
                    >  .card-header {
                        .btn-info::before {
                            background: url('../../assets/images/card-detail.svg');
                        }
                    }
                }

                &--transaction {
                    >  .card-header {
                        .btn-info::before {
                            background: url('../../assets/images/transaction.svg');
                        }
                    }

                    .card-body {
                        background: #EDFFF5;
                    }
                }
            }

            .card-header {
                .btn-info {
                    padding: 24px 44px 24px 60px;
                    border: 1px solid #F5F5F5;
                    border-radius: 8px;
                    background: #F5F9FF;
                    box-shadow: 0 0 8px rgba($color: #000000, $alpha: .04);
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 24px;
                    color: #0C365A;
                    text-align: left;
                    position: relative;
                    &:not(:disabled):not(.disabled):active {
                        background: #F5F9FF;
                        border-color: #F5F9FF;
                        color: #0C365A;
                        &:focus {
                            box-shadow: none;
                        }
                    }
                    &:focus {
                        box-shadow: none;
                    }
                    &::before {
                        content: '';
                        display: block;
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        left: 24px;
                        top: 24px;
                    }
                    &::after {
                        content: '';
                        display: block;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        right: 24px;
                        top: 26px;
                        background: url('../../assets/images/down-arrow.svg');
                        transform: rotate(0);
                        transition: all .3s;
                    }
                    &.not-collapsed::after {
                        transform: rotate(180deg);
                    }
                    @media screen and (min-width: 1200px) {
                        font-weight: normal;
                    }
                }
            }

            .card-body {
                padding: 0;
            }
        }
    }

    .wrapper {
        @media screen and (min-width: 1200px) {
            width: 414px;
        }
    }
</style>