<template>
    <header class="main-header">
        <div class="header-top">
            <img 
                class="mobile-logo d-xl-none"
                src="../../assets/images/green-logo.svg"
                alt=""
            >
            <img 
                class="pc-logo d-none d-xl-block"
                src="../../assets/images/logo.svg"
                alt=""
            >
            <p 
                class="text d-none d-xl-block mb-0"
            >
                Trusted way of banking for 3,000+ SMEs and startups in Singapore
            </p>
        </div>
        <div class="header-bottom">
            <ul class="nav">
                <li class="nav-item nav-item--home">
                    <router-link to="/" class="nav-link">Home</router-link>
                </li>
                <li class="nav-item nav-item--card">
                    <router-link to="/cards" class="nav-link">Cards</router-link>
                </li>
                <li class="nav-item nav-item--payment">
                    <router-link to="/payments" class="nav-link">Payments</router-link>
                </li>
                <li class="nav-item nav-item--credit">
                    <router-link to="/credit" class="nav-link">Credit</router-link>
                </li>
                <li class="nav-item nav-item--profile">
                    <router-link to="/profile" class="nav-link">Profile</router-link>
                </li>
            </ul>
        </div>
    </header>
</template>
<style lang="scss">
    .main-header {
        @media screen and (min-width: 1200px) {
            width: 340px;
            height: 100%;
            padding: 48px;
            position: fixed;
            left: 0;
            top: 0;
            background: #0C365A;
        }
    }
    .header-top {
        padding: 24px 24px 0;
        display: flex;
        justify-content: flex-end;
        @media screen and (min-width: 1200px) {
            padding: 0;
            margin-bottom: 80px;
            display: block;
            .pc-logo {
                margin-bottom: 20px;
            }
            .text {
                font-size: 15px;
                line-height: 20px;
                color: rgba($color: #fff, $alpha: .3);
            }
        }
    }
    .header-bottom {
        position: fixed;
        width: 100%;
        height: 56px;
        left: 0;
        bottom: 0;
        z-index: 999;
        background: #fff;
        box-shadow: 0 8px 6px 6px rgba($color: #000000, $alpha: .5);
        .nav {
            height: 56px;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding: 0 30px;
            align-items: center;
            &-item {
                &--home {
                    .nav-link::before {
                        background: url('../../assets/images/gray-logo.svg') center center no-repeat;
                    }
                }
                &--card {
                    .nav-link::before {
                        background: url('../../assets/images/pay.svg') center center no-repeat;
                    }
                }
                &--payment {
                    .nav-link::before {
                        background: url('../../assets/images/payments.svg') center center no-repeat;
                    }
                }
                &--credit {
                    .nav-link::before {
                        background: url('../../assets/images/credit.svg') center center no-repeat;
                    }
                }
                &--profile {
                    .nav-link::before {
                        background: url('../../assets/images/account.svg') center center no-repeat;
                    }
                }
            }
            .nav-link {
                padding: 30px 0 0 0;
                font-size: 9px;
                color: #ddd;
                min-width: 25px;
                text-align: center;
                position: relative;
                &::before {
                    content: '';
                    display: block;
                    width: 26px;
                    height: 24px;
                    position: absolute;
                    left: 50%;
                    margin-left: -13px;
                    top: 0;
                }
                &.router-link-exact-active {
                    font-weight: bold;
                    color: #01D167;
                }
            }
        }

        @media screen and (min-width: 1200px) {
            position: static;
            width: auto;
            height: auto;
            box-shadow: none;
            background: none;
            .nav {
                padding: 0;
                height: auto;
                flex-direction: column;
                align-items: flex-start;
                .nav-item {
                    margin-top: 60px;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                .nav-link {
                    padding: 0 0 0 42px;
                    font-size: 16px;
                    line-height: 24px;
                    &::before {
                        left: 0;
                        margin-left: 0;
                        top: 0;
                    }
                }
            }
        }
    }
    
</style>
<script>