<template>
    <div id="app">
        <Header />
        <div class="main-content">
            <div class="main-content-inner">
                <router-view />
            </div>
        </div>
        <notifications position="top right"/>
    </div>
</template>

<script>
import Header from './components/Common/Header'
export default {
    name: 'App',
    components: {
        Header
    }
}
</script>

<style lang="scss">
    @import '../node_modules/bootstrap/scss/bootstrap.scss';
    @import '../node_modules/bootstrap-vue/src/index.scss';
    @import './assets/styles/style.scss';
</style>
