body {
    font-family: 'Open Sans', sans-serif;
    background: #fafafa;
    padding-bottom: 56px;
    @media screen and (min-width: 1200px) {
        padding-left: 340px;
    }
}

.main-content {
    @media screen and (min-width: 1200px) {
        padding: 60px 0;
    }
}

.main-content-inner {
    @media screen and (min-width: 1200px) {
        width: 906px;
        margin: 0 auto;
    }
}

// slick carousel
.slick-slider .slick-dots {
    display: flex !important;
    justify-content: center;
    height: 8px;
    bottom: -24px;
    li {
        width: 8px;
        height: 8px;
        margin: 0 8px;
        &.slick-active {
            width: 16px;
            button {
                width: 16px;
                background: #01D167;
            }
        }
        button {
            width: 8px;
            height: 8px;
            border-radius: 4px;
            background: rgba($color: #01D167, $alpha: .2);
            padding: 0;
            transition: all .3s;
            &::before {
                display: none;
                content: '';
            }
        }
    }
}

.slick-slider .slick-active.slick-center {
    .card-item {
        transform: scale(1);
    }
}

// Form

.form-control {
    height: 42px;
    border-radius: 8px;
    border-color: #F0F0F0;
}

.input-group-text {
    border-radius: 8px;
    border-color: #F0F0F0;
}

.custom-select {
    height: 42px;
    border-radius: 8px;
    border-color: #F0F0F0;
}

// modal
.modal-content {
    border-radius: 16px;
}

.modal-header {
    padding: 24px;
}

.modal-body {
    padding: 24px;
}

// button
.btn {
    border-radius: 8px;
}

// loading
.is-loading {
    min-height: 60px;
    position: relative;
    &::before {
        content: '';
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 9;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($color: #fff, $alpha: .6) url('./assets/images/loading.svg') center center no-repeat;
    }
}